<div class="grid">
    <div class="col-8 col-offset-2">
        <p-card>
            <p-panel header="Edit City Details">
                <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                    <div class="grid">
                        <div class="col-12">
                            <div class="flex flex-column gap-2">
                                <label for="cityname">City</label>
                                <input pInputText id="cityName" name="cityName" aria-describedby="username-help" ngModel/>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="flex flex-column gap-2">
                                <label for="statename">State</label>
                                <input pInputText id="state" name="state" aria-describedby="username-help" ngModel/>
                            </div>
                        </div>
                        <br>
                        <div class="col-12">
                            <div class="flex flex-column gap-2">
                                <label for="countryname">Country</label>
                                <input pInputText id="country" name="country" aria-describedby="username-help" ngModel/>
                            </div>
                        </div>
                        <br>
                        <div class="col-12">
                            <div class="flex flex-column gap-2">
                                <label for="currency">Currency</label>
                                <input pInputText id="currency"  name="currency" aria-describedby="username-help" ngModel/>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="grid justify-content-around">
                        <div class="col-4 md:col-offset-2">
                            
                            <p-button   type="submit" >Update</p-button>
                        </div>
                        <div class="col-6">
                            <p-button  severity="danger" (click)="Discard()">Discard</p-button>
                        </div>
                    </div>
                </form>
            </p-panel>
        </p-card>
    </div>
</div>