<div class="grid">

    <div class="col-8 col-offset-2" *ngIf="city">
        <p-card header=" City : {{city.cityName | uppercase}}">
            <table style="width: 100%; text-align: center;">
                <colgroup>
                    <col span="1" style="background-color:lightgrey">
                </colgroup>
                <tr>
                    <th colspan="2">
                        City Information
                    </th>
                </tr>
                <tr>
                    <th style="width: 40%;">City Id</th>
                    <td>{{city.cityId}}</td>
                </tr>
                <tr>
                    <th>State</th>
                    <td>{{city.state}}</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>{{city.country}}</td>
                </tr>
                <tr>
                    <th>Currency</th>
                    <td>{{city.currency}}</td>
                </tr>
            </table>
            <br>
            <!-- <div class="grid">
                <div class="col-4 col-offset-2 ">
                    <p-button label="Edit" routerLink="edit" (click)="edit(city.cityId)"></p-button>
                </div>

                <div class="col-5 col-offset-1">
                    

                    <p-button label="Delete" severity="danger" (click)="onDelete(city.cityId)"></p-button>
                </div>
            </div> -->
            <div class="grid justify-content-center">
                <div class="col-6 " style="display: flex; justify-content: center;">
                    <p-button label="Edit" routerLink="edit" (click)="edit(city.cityId)"></p-button>
                </div>
                <div class="col-6" style="display: flex; justify-content: center;">
                    
                    <p-button label="Delete" severity="danger" (click)="onDelete(city.cityId)"></p-button>
                </div>
                <div class="col-6 " style="display: flex; justify-content: center;">
                    <p-button label="Get Weather" routerLink="weather"></p-button>
                </div>
                <div class="col-6" style="display: flex; justify-content: center;">
                    
                    <p-button label="Branches" routerLink="Branches"></p-button>
                </div>
            </div>
        </p-card>
    </div>
</div>