<div class="grid" style="margin:0px; height:100%;">
    <div class="col-4" >
       <div class="grid">
        <div class="col-12">
            <button pButton pRipple  class="p-button-success">Add </button>
        </div>
        <div class="col-12" style="height:100%;">
            <app-cities-list (newItemEvent)="selected($event)"></app-cities-list>
        </div>
       </div>
    </div>
    <div class="col-8" style="overflow: auto;">
        <!-- <app-cities-detailed-view [city]="SelectedCity"></app-cities-detailed-view> -->
        <app-create-city></app-create-city>
    </div>
</div>