:host {
    ::ng-deep .active {
        background-color: rgb(33, 101, 226);
        color: white;
    }
}
:host {
    ::ng-deep .InActive {
        background-color:lightgrey;
        color: black;
    }
}
::ng-deep .p-scrollpanel .p-scrollpanel-bar-y {
    background: lightgrey;
}