<p-menubar
  [style]="{'background-color': '#00599c','border': 'none','border-radius': '0px', 'height': '10vh', 'padding': '0px'}">
  <ng-template pTemplate="start">
    <div class="container" style="display: flex; flex-direction: row; margin: 0px; padding: 0px;">
      <img src="https://crafter.fastenal.com/static-assets/images/fcom/fastenal-logo-blue-white.png"
        style="height: 6vh; width: auto; margin-top: 4px;">
      <p-tabMenu [scrollable]="true" [model]="items" [activeItem]="activeItem"></p-tabMenu>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div style="display: flex; gap: 5px; margin-right: 10px;">
      <p-menu #menu [popup]="true" [model]="userItems" [style]="{'width': 'fit-content'}"></p-menu>
      <button pButton type="button" label="{{user.firstName | titlecase}} {{user.lastName | titlecase}}"
        icon="pi pi-user" (click)="menu.toggle($event)"></button>
    </div>
  </ng-template>
</p-menubar>