<div class="grid">
    <div class="col-8 col-offset-2">
        <p-card>
            <p-panel header="Add City Details">
                <form #form="ngForm" (submit)="onSubmit(form)">
                    <div class="grid">
                        <div class="col-12">
                            <div class="flex flex-column gap-2">
                                <label for="cityname">City</label>
                                <input pInputText id="cityname" name="cityName" aria-describedby="username-help" #cityName="ngModel" [(ngModel)]="service.formdata.cityName" [ngModelOptions]="{standalone: true}"/>
                            
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="flex flex-column gap-2">
                                <label for="statename">State</label>
                                <input pInputText id="statename" name="state" aria-describedby="username-help"  #state="ngModel" [(ngModel)]="service.formdata.state" [ngModelOptions]="{standalone: true}"/>
                                
                            </div>
                        </div>
                        <br>
                        <div class="col-12">
                            <div class="flex flex-column gap-2">
                                <label for="countryname">Country</label>
                                <input pInputText id="countryname" name="country" aria-describedby="username-help" #country="ngModel" [(ngModel)]="service.formdata.country" [ngModelOptions]="{standalone: true}"/>
                                
                            </div>
                        </div>
                        <br>
                        <div class="col-12">
                            <div class="flex flex-column gap-2">
                                <label for="currency">Currency</label>
                                <input pInputText id="currency"  name="currency" aria-describedby="username-help" #currency="ngModel" [(ngModel)]="service.formdata.currency" [ngModelOptions]="{standalone: true}"/>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="grid justify-content-around">
                        <div class="col-4 md:col-offset-2">
                            <p-button   type="submit">Add</p-button>
                        </div>
                        <div class="col-6">
                            <p-button  severity="danger" routerLink="../">Discard</p-button>
                        </div>
                    </div>
                </form>
            </p-panel>
        </p-card>
    </div>
</div>